/* START: Main Colors */
$midnightGreen: #19535F;
$cadetBlue: #779FA1;
$dutchWhite: #d7c9aa;
$persianPlum: #7B2D26;
/* END: Main Colors */

/* START: Secondary Colors */
$cultured: #F5F5F5;
/* END: Secondary Colors */
